@charset "UTF-8";

#input {
    margin: 0 auto;
    max-width: 350px;
    height: 27px;
}

#input > button {
    box-sizing: border-box;
    border: solid #666;
    height: 27px;
    vertical-align: top;
    text-align: center;
    background: #333;
    color: #FFF;
}

#input > button {
    border-width: 1px 0 1px 1px;
}

#input > button {
    padding: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    vertical-align: top;
}