@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&display=swap');

html,body{
  margin:0;
  padding:0;
  border:0;
  height: 100%;
}

body{
  position: relative;
  z-index: 0;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

div#wrap, header{
  width: 100%;
  max-width: 480px;
}

div#wrap{
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 0;
  right: 0;
  z-index: -1;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
}

header {
  height: 56px;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 12.5px;
  box-shadow: 0 0 2px 2px #111;
  position: fixed;
  z-index: 100;
}
header > button {
  float: left;
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 36px;
  height: 27px;
}

header > h1 {
  /*display: inline-block;*/
  margin: 0;
  font-size: large;
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
}

div#header-offset{
  height: 56px;
}

a,abbr,acronym,b,basefont,bdo,big,cite,code,dfn,em,font,i,img,input,kbd,label,q,s,samp,select,small,span,strike,strong,sub,sup,textarea,tt,u,var,h2,h3,h4,h5,h6,noframes,noscript,ol,p,pre,ul{
  /*padding: 12.5px;*/
  margin: 0;
}

h2 {
  padding: 12.5px;
  padding-top: 17px;
  padding-bottom: 6px;
  text-align: left;
  font-size: small;
  color: lightskyblue;
}

div#contents{
  margin: 0;
  width: 100%;
}

.menu {
  margin: 0;
  padding:0;
  list-style: none;
  position: relative;
  z-index: 0;
}

.menu > li + li {
  border-top:thin solid #666;
}

.menu > li > * {
  display: block;
  margin: 0;
  padding: 17px 16px 18px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.menu > li > a {
  text-decoration:none;
}

/* 内容 */
.menu > li p{
  margin: 0;
  padding-top: 6px;
  color: #999;
  font-size: small;
}

.menu > li > a.license{
  background-image: url(https://licensebuttons.net/l/by/4.0/88x31.png);
  background-repeat: no-repeat;
  background-position: 16px;
  padding-left: calc(16px + 88px + 16px);
}

.menu > li > .center {
  text-align: center;
}

.menu > li img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 25vh;
  vertical-align: top;
}

.menu > li audio {
  display: inline-block; /* いる？ */
  width: 100%;
  vertical-align: top;
}

.menu > li .rp-effect{/*エフェクト*/
  position: absolute;
  border-radius: 50%;
  opacity: 0.35;/*波紋の濃さ*/
  transform: scale(0);
  background: #FFF;/*波紋色*/
  animation: ripple 700ms;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

/* 任意の場所に文字列挿入 */
p.description{
  padding: 16px;
}